#####################################################################
# https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/pause_resume_filament.html
#####################################################################
# https://github.com/bigtreetech/smart-filament-detection-module/tree/master/V2.0/Manual
#####################################################################
# https://www.reddit.com/r/Ender3S1/comments/14zhmpz/runout_sensor_waste/
# https://www.reddit.com/r/klippers/comments/lnadlr/comment/goeng7k/
#####################################################################

# This sensor is now only for reporting, to check and validate O2S

[SFD_sensor SFD_sensor ]
switch_pin: ^PC1
pause_on_runout: False
runout_gcode:
    M117 SFD: Filament runout detected
    SET_FILAMENT_SENSOR SENSOR=SFD_encoder ENABLE=0
insert_gcode:
    M117 SFD: Filament insertion detected

[filament_motion_sensor SFD_encoder]
switch_pin: ^PC2
detection_length: 10
extruder: extruder
pause_on_runout: False
runout_gcode:
    M117 SFD: Filament tangled or clogged!
insert_gcode:
    M117 SFD: Encoder Insert Detected